.App{
  width: 50%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.column{
  width: 45%;
  float: left;
  padding: 0px 20px;
}

h1, h2{
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

h3{
  margin: 10px;
  font-size: 22px;
}

p{
  margin: 10px 0px;
  font-size: 16px;
}

ul{
  list-style: none;
  padding: 0px;
}

#restaurants{
  margin: 0%;
}

.restaurant-buttons{
  margin-top: 5px;
}

.restaurant-list{
  margin-bottom: 12px;
  text-align: center;
  background-color: #FFF3AD;
  background-color: rgb(171, 95, 3);
  padding: 12px;
  border-radius: 12px;
  color: #Fff;
  font-size: 18px;
  font-weight: 600;
}

#add-new{
  text-align: center;
  padding: 20px 0px;
  background-color: rgb(38, 15, 15);
  border-radius: 12px;

}

.starred-restaurant{
  text-align: center;
  color: rgb(71, 11, 11);
  background-color: #d8b103;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
}
